# ==========================================
# Flutter - File per Applicazione
# ==========================================
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# ==========================================
# LaTeX - File Temporanei di Compilazione per la Relazione
# ==========================================
# Riferimenti incrociati e sezioni
*.aux
*.toc
*.out

# Log e informazioni di build
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)

# Bibliografia e Glossari
*.bbl
*.bcf
*.blg
*.run.xml
*.glg
*.glo
*.gls
*.xml

# Indici e liste
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot

# Beamer (Presentazioni)
*.nav
*.snm
*.vrb

# Cache pacchetti
/_minted-*/
*.pdfsync

# ==========================================
# venv - Ambiente Virtuale Python
# ==========================================
# Ambiente Virtuale
venv/
.venv/
env/

# Cache di Python
__pycache__/
*.pyc

# File temporanei degli IDE/Editor
.vscode/
.idea/
.DS_Store